<mat-card>
  <h2>Paramétrage</h2>
  <mat-tab-group>

<mat-tab label="Param.Noyau">
  <div class="row">
  <div class="col-sm-3">
    <a href="/TypeD" routerLink="/gettypetache" routerLinkActive="active"><div class="card" style="background-image: linear-gradient(to right top, #00f260, #00deb5, #00c3f4, #00a0ff, #0575e6);color:white;text-align: center;width: 150px;">
      <!-- card header -->
      <div class="card-header" style="text-align: center;    
       padding-left: 38%;
      font-size: 40px;">
        <!-- card title -->
        <i class="fa fa-tasks"></i>
      </div>
      <!-- card body -->
      <div class="card-body">
       Type Tache
      </div>
      <!-- card footer -->
      
    </div>
  </a>
  </div>
  <div class="col-sm-3">
    <a routerLink="/Tyopeobjectif" routerLinkActive="active"><div class="card" style="background-image: linear-gradient(to right top, #00f260, #00deb5, #00c3f4, #00a0ff, #0575e6);color:white;text-align: center;width: 150px;">
      <!-- card header -->
      <div class="card-header" style="text-align: center;    
       padding-left: 38%;
      font-size: 40px;">
        <!-- card title -->
        <i class="fa fa-bullseye"></i>
      </div>
      <!-- card body -->
      <div class="card-body">
       Type Objectif
      </div>
      <!-- card footer -->
      
    </div>
  </a>
  </div>
  <div class="col-sm-3">
    <a  routerLink="/TypeD" routerLinkActive="active"><div class="card" style="background-image: linear-gradient(to right top, #00f260, #00deb5, #00c3f4, #00a0ff, #0575e6);color:white;text-align: center;width: 150px;">
      <!-- card header -->
      <div class="card-header" style="text-align: center;    
       padding-left: 38%;
      font-size: 40px;">
        <!-- card title -->
        <i class="fas fa-hands-helping" style="font-size: 40px;"></i>
      </div>
      <!-- card body -->
      <div class="card-body">
       Type Demande
      </div>
      <!-- card footer -->
      
    </div>
  </a>
  </div>
  <div class="col-sm-3">
    <a  routerLink="/groupe" routerLinkActive="active"><div class="card" style="background-image: linear-gradient(to right top, #00f260, #00deb5, #00c3f4, #00a0ff, #0575e6);color:white;text-align: center;width: 150px;">
      <!-- card header -->
      <div class="card-header" style="text-align: center;    
       padding-left: 38%;
      font-size: 40px;">
        <!-- card title -->
        <i class="fas fa-users-cog" style="font-size: 40px;"></i>
      </div>
      <!-- card body -->
      <div class="card-body">
       Groupe
      </div>
      <!-- card footer -->
      
    </div>
  </a>
  </div>
</div>
</mat-tab>


<mat-tab label="Param.Service">
  <div class="row">
  <div class="col-sm-4">
    <a  routerLink="/getRole" routerLinkActive="active"><div class="card" style="background-image: linear-gradient(to right top, #00f260, #00deb5, #00c3f4, #00a0ff, #0575e6);color:white;text-align: center;width: 150px;">
      <!-- card header -->
      <div class="card-header" style="text-align: center;    
       padding-left: 38%;
      font-size: 40px;">
        <!-- card title -->
        <i class="fas fa-user-tag" style="font-size: 40px;"></i>
      </div>
      <!-- card body -->
      <div class="card-body">
       Role
      </div>
      <!-- card footer -->
      
    </div>
  </a>
  </div>
  <div class="col-sm-4">
    <a routerLink="/getservice" routerLinkActive="active"><div class="card" style="background-image: linear-gradient(to right top, #00f260, #00deb5, #00c3f4, #00a0ff, #0575e6);color:white;text-align: center;width: 150px;">
      <!-- card header -->
      <div class="card-header" style="text-align: center;    
       padding-left: 38%;
      font-size: 40px;">
        <!-- card title -->
        <i class="fas fa-address-book" style="font-size: 40px;"></i>
      </div>
      <!-- card body -->
      <div class="card-body">
       Service
      </div>
      <!-- card footer -->
      
    </div>
  </a>
  </div>
  <div class="col-sm-4">
    <a  routerLink="/getsservice" routerLinkActive="active"><div class="card" style="background-image: linear-gradient(to right top, #00f260, #00deb5, #00c3f4, #00a0ff, #0575e6);color:white;text-align: center;width: 150px;">
      <!-- card header -->
      <div class="card-header" style="text-align: center;    
       padding-left: 38%;
      font-size: 40px;">
        <!-- card title -->
        <i class="far fa-address-book" style="font-size: 40px;"></i>
      </div>
      <!-- card body -->
      <div class="card-body">
       Sous Service
      </div>
      <!-- card footer -->
      
    </div>
  </a>
  </div>
  
</div>
</mat-tab>
</mat-tab-group>
</mat-card >

<mat-card style="margin-top: 15px;">
<h2>Affectation</h2>
<div class="row">
  <div class="col-sm-3">
    <a ef="/TypeD" routerLink="/TypeD" routerLinkActive="active"><div class="card" style="background-image: linear-gradient(to right top, #00f260, #00deb5, #00c3f4, #00a0ff, #0575e6);color:white;text-align: center;width: 150px;">
      <!-- card header -->
      <div class="card-header" style="text-align: center;    
       padding-left: 38%;
      font-size: 40px;">
        <!-- card title -->
        <i class="fa fa-sliders-h"></i>
      </div>
      <!-- card body -->
      <div class="card-body">
       Type Tache
      </div>
      <!-- card footer -->
      
    </div>
  </a>
  </div>
  <div class="col-sm-3">
    <a ef="/TypeD" routerLink="/TypeD" routerLinkActive="active"><div class="card" style="background-image: linear-gradient(to right top, #00f260, #00deb5, #00c3f4, #00a0ff, #0575e6);color:white;text-align: center;width: 150px;">
      <!-- card header -->
      <div class="card-header" style="text-align: center;    
       padding-left: 38%;
      font-size: 40px;">
        <!-- card title -->
        <i class="fa fa-sliders-h"></i>
      </div>
      <!-- card body -->
      <div class="card-body">
       Type Tache
      </div>
      <!-- card footer -->
      
    </div>
  </a>
  </div>
  <div class="col-sm-3">
    <a ef="/TypeD" routerLink="/TypeD" routerLinkActive="active"><div class="card" style="background-image: linear-gradient(to right top, #00f260, #00deb5, #00c3f4, #00a0ff, #0575e6);color:white;text-align: center;width: 150px;">
      <!-- card header -->
      <div class="card-header" style="text-align: center;    
       padding-left: 38%;
      font-size: 40px;">
        <!-- card title -->
        <i class="fa fa-sliders-h"></i>
      </div>
      <!-- card body -->
      <div class="card-body">
       Type Tache
      </div>
      <!-- card footer -->
      
    </div>
  </a>
  </div>
  <div class="col-sm-3">
    <a ef="/TypeD" routerLink="/TypeD" routerLinkActive="active"><div class="card" style="background-image: linear-gradient(to right top, #00f260, #00deb5, #00c3f4, #00a0ff, #0575e6);color:white;text-align: center;width: 150px;">
      <!-- card header -->
      <div class="card-header" style="text-align: center;    
       padding-left: 38%;
      font-size: 40px;">
        <!-- card title -->
        <i class="fa fa-sliders-h"></i>
      </div>
      <!-- card body -->
      <div class="card-body">
       Type Tache
      </div>
      <!-- card footer -->
      
    </div>
  </a>
  </div>


</div>
</mat-card>