<button mat-icon-button class="close-button" [mat-dialog-close]="true" style="background: unset;
border: none;">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<div class="content-wrapper"> <mat-vertical-stepper  #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="tacheService.form">
      
        <input type="hidden" formControlName="IdTache"> 
       
        <ng-template matStepLabel>Description</ng-template>
        <mat-form-field>
          <mat-label>Label</mat-label>
          <input matInput placeholder="Label Tache" formControlName="Label" required>
        </mat-form-field>
        <div>
        <mat-form-field>
          <mat-label> Description</mat-label>
          <textarea matInput placeholder="Description tache" formControlName="Description" required></textarea>
        </mat-form-field>
      </div> 
      <div>
      <mat-form-field>
      <mat-label> Objectif</mat-label>
    <mat-select formControlName="FKObjectifs">
      <!-- <mat-option *ngFor="let porjet of objectifService.listObjectif" [value]="porjet.label"  >
        {{porjet.label}}
      </mat-option> -->
      <mat-option *ngFor="let porjet of porjets" [value]="porjet.value"  >
        {{porjet.label}}
      </mat-option>
    </mat-select>
      </mat-form-field>
      
      <mat-form-field>
        <mat-label> Type Tache</mat-label>
      <mat-select formControlName="FKTaskType_S_Service">
        <mat-option *ngFor="let porjet of porjets" [value]="porjet.value"  >
          {{porjet.label}}
        </mat-option>
      </mat-select>
        </mat-form-field>


    </div>

    <div>
        <mat-form-field>
        <mat-label> Groupe User</mat-label>
      <mat-select formControlName="FKGroupeUserRole_s_s">
        <mat-option *ngFor="let porjet of porjets" [value]="porjet.value"  >
          {{porjet.label}}
        </mat-option>
      </mat-select>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label> Demande</mat-label>
        <mat-select formControlName="FKDemande">
          <mat-option *ngFor="let porjet of porjets" [value]="porjet.value"  >
            {{porjet.label}}
          </mat-option>
        </mat-select>
          </mat-form-field>
  
  
      </div>


    <mat-form-field>
      <mat-label>Durée estimée</mat-label>
      <input matInput placeholder="Durée estimée" type='number' formControlName="DureeEstimee" required>
     
    </mat-form-field>
    

    <mat-form-field>
      <mat-label>Durée Reelle</mat-label>
      <input matInput placeholder="Durée estimée" type='number' formControlName="DureeReelle" required>
     
    </mat-form-field>
    <!-- <mat-radio-group aria-label="Select an option" formControlName="TypeDuree" required>
      <mat-radio-button  value=0>Jours</mat-radio-button>&nbsp;&nbsp;&nbsp;
      <mat-radio-button  value=1>Mois</mat-radio-button>&nbsp;&nbsp;&nbsp;
      <mat-radio-button  value=2>Années  </mat-radio-button>
    </mat-radio-group> -->
    <div>
      <mat-form-field>
        <mat-label>attribut1</mat-label>
        <input matInput placeholder="attribute1 " formControlName="Attribute1" required>
      </mat-form-field>
    
    </div>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button class="btn btn-sm btn-success text-white " mat-button matStepperPrevious>Précédent</button>&nbsp;
          <button class="btn btn-sm btn-success text-white " mat-button (click)="stepper.reset()">Début</button>&nbsp;
          <button class="btn btn-sm btn-success text-white " mat-button (click)="Submit()">Submit</button>
        </div>
      </mat-step>
  

        <div>
          <button class="btn btn-sm btn-success text-white " mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    
  </mat-vertical-stepper>
</div>