<div class="row">
    <div class="col-sm-9">
      <h1>Consultation affectation Type D'objectif au Sous service</h1>
    </div>
    <div class="col-sm-3">
<!-- <a href="/postaff" routerLink="/typoss" routerLinkActive="active"><button style="float:right" class="btn-sm btn-success text-white "><i class="fa fa-plus"></i> Ajouter Affectation</button></a> -->
       <a href="/postaff" routerLink="/typoss" routerLinkActive="active"><button style="float:right;" class="btn-sm btn-success text-white "><i class="fa fa-plus"></i>Ajouter Affectation</button></a>
    </div>
</div>
<p-table [value]="TypeossService.listTypeoss" [paginator]="true" [rows]="5" #dt filterBy="label" >
      
    <ng-template pTemplate="header" style="background-color: #868e96;">
      
       <tr>
        
          <th><div class="row" style="padding: 0.571em 0.857em;">Type Objectif </div>
            <!-- <input pInputText type="text" (input)="dt.filter($event.target.value, 'label','contains' )"> -->
           
            </th>
          <th>Sous Service</th>
          
            </tr>
      </ng-template>
 <ng-template pTemplate="body" let-Roless>
   
      <tr>
        
       <td>{{Roless.labelObjectif}}</td> 
       <td>{{Roless.labelSousservice}}</td> 
     </tr>
     </ng-template>
     <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        
              Aucune Affectation trouvée
       
      </tr>
  </ng-template>
  </p-table>
    