<div class="row">
    <div class="col-sm-9">
      <h1>Consultation affectation Type de Tache au Sous service</h1>
    </div>
    <div class="col-sm-3">
<!-- <a href="/postaff" routerLink="/typoss" routerLinkActive="active"><button style="float:right" class="btn-sm btn-success text-white "><i class="fa fa-plus"></i> Ajouter Affectation</button></a> -->
       <a href="/postaffttss" routerLink="/postaffttss" routerLinkActive="active"><button style="float:right;" class="btn-sm btn-success text-white "><i class="fa fa-plus"></i>Ajouter Affectation</button></a>
    </div>
</div>
<p-table [value]="TypetssService.listTypetachesousservice" [paginator]="true" [rows]="5" #dt filterBy="label" >
      
    <ng-template pTemplate="header" style="background-color: #868e96;">
      
       <tr>
        
          <th><div class="row" style="padding: 0.571em 0.857em;">Type Tache </div>
            <!-- <input pInputText type="text" (input)="dt.filter($event.target.value, 'label','contains' )"> -->
           
            </th>
          <th>Sous Service</th>
          
            </tr>
      </ng-template>
 <ng-template pTemplate="body" let-typeoss>
   
      <tr>
        
       <td>{{typeoss.labeltypetache}}</td> 
       <td>{{typeoss.fkSousService}}</td> 
     </tr>
     </ng-template>
     <ng-template pTemplate="emptymessage" let-columns>
      <tr>
          <td [attr.colspan]="columns.length">
              Aucune Affectation trouvée
          </td>
      </tr>
  </ng-template>
  </p-table>
    