
<!-- sidebar -->
<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">  
    <div class="sidebar-brand">
      <a href="index.html" >Gestion Projet</a>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a href="index.html">GP</a>
    </div>
    <ul class="sidebar-menu">
   
      <li class="dropdown">
        <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fa fa-exchange-alt"></i><span>Affectation</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link beep beep-sidebar ripple" href="/postaff" routerLink="/typoss" routerLinkActive="active">Objectif SousService</a></li>
        </ul> 
      </li>
      <hr style="width:45%;text-align:center;background-color:#fff;"> 
      <li class="dropdown">
        
        <a class="nav-link has-dropdown " href="#" data-toggle="dropdown"><i class="fa fa-sliders-h"></i> <span>Parametrages</span></a>
        <ul class="dropdown-menu">
          
          
            
            
             
            <li><a class="nav-link beep beep-sidebar has-dropdown " data-toggle="dropdown" >Param.Services</a>
              <ul class="dropdown-menu">
                <li><a class="nav-link beep beep-sidebar ripple" href="/getRole" routerLink="/getRole" routerLinkActive="active">Role</a></li> 
               <li><a class="nav-link beep beep-sidebar ripple" href="/getservice" routerLink="/getservice" routerLinkActive="active">Service</a></li> 
               <li><a class="nav-link beep beep-sidebar ripple" href="/getsservice" routerLink="/getsservice" routerLinkActive="active">Sous Service</a></li>  
              </ul>
            
            </li>  
            <li><a class="nav-link beep beep-sidebar has-dropdown " data-toggle="dropdown" >Param.Noyau</a>
              <ul class="dropdown-menu">
                <li><a class="nav-link beep beep-sidebar ripple" href="/groupe" routerLink="/groupe" routerLinkActive="active">Groupe</a></li>   
                <li><a class="nav-link beep beep-sidebar ripple" href="/getobj" routerLink="/Tyopeobjectif" routerLinkActive="active">Objectif</a></li>   
                <li><a class="nav-link beep beep-sidebar ripple" href="/gettyped" routerLink="/TypeD" routerLinkActive="active">Type Demande</a></li>  
              </ul>
            
            </li>  
            
            
         </ul>
      </li> 
     
    </ul>

    
   </aside>
</div>

